/** ---------------------------theme-my主题start----------------------------------- */
/* logo */
.theme-my .esui-layout-admin .esui-header .esui-logo {
    color: #dddddd;
    background-color: #191a23;
    
}

/* header */


.theme-my .esui-layout-admin .esui-header {
    background-color: #ffffff;
}

.theme-my .esui-layout-admin .esui-header a {
    color: #595959;
}

.theme-my .esui-layout-admin .esui-header a:hover {
    color: #595959;
}

.theme-my .esui-layout-admin .esui-header .esui-nav-child a {
    color: #595959;
}

.theme-my .esui-layout-admin .esui-header .esui-nav .esui-nav-more {
    border-color: #595959 transparent transparent;
}

.theme-my .esui-layout-admin .esui-header .esui-nav .esui-nav-mored {
    border-color: transparent transparent #595959;
}

.theme-my .esui-layout-admin .esui-header .esui-nav .esui-this:after,
.theme-my .esui-layout-admin .esui-header .esui-nav-bar {
    background-color: #191a23;
}



/* side */
.theme-my .esui-layout-admin .esui-side {
    background-color: #191a23;
    
}


.theme-my .esui-nav-tree .esui-nav-child dd.esui-this a,
.theme-my .esui-nav-tree .esui-this > a,
.theme-my .esui-nav-tree .esui-this > a:hover {
    background-color: #009688;
}

.theme-my .esui-nav-tree > .esui-nav-item > a:before {
    background-color: #009688;
}


.theme-my .esui-layout-admin.admin-nav-mini .esui-side .esui-nav .admin-nav-hover > .esui-nav-child:before {
    background: #191a23 !important;
}




/* side icon */
.theme-my .esui-side .esui-nav-item > a > .esui-icon {
    color: #fff;
    width: 28px;
    height: 28px;
    font-size: 12px !important;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-color: #61B2FC;
}

.theme-my .esui-side .esui-nav-item:nth-child(even) > a > .esui-icon {
    background-color: #7DD733;
}

.theme-my .esui-side .esui-nav-item:nth-child(3) > a > .esui-icon {
    background-color: #32A2D4;
}

.theme-my .esui-side .esui-nav-item:nth-child(4) > a > .esui-icon {
    background-color: #2BCCCE;
}

.theme-my .esui-side .esui-nav-item:nth-child(5) > a > .esui-icon {
    background-color: #7383CF;
}

@media screen and (min-width: 768px) {
    .theme-my .admin-nav-mini .esui-side .esui-nav-item > a {
        padding-left: 16px;
    }
}

.theme-my .esui-layout-admin .esui-side .esui-nav .esui-nav-item .esui-nav-child a {
    padding-left: 63px;
}

.theme-my .esui-layout-admin .esui-side .esui-nav .esui-nav-item .esui-nav-child .esui-nav-child a {
    padding-left: 83px;
}

.theme-my .esui-layout-admin .esui-side .esui-nav .esui-nav-item .esui-nav-child .esui-nav-child .esui-nav-child a {
    padding-left: 103px;
}

.theme-my .esui-layout-admin .esui-side .esui-nav .esui-nav-item .esui-nav-child .esui-nav-child .esui-nav-child .esui-nav-child a {
    padding-left: 123px;
}

.theme-my .esui-side .esui-nav .esui-nav-item a cite {
    vertical-align: middle;
}


/* body tab */

.theme-my .esui-layout-admin .esui-body > .esui-tab > .esui-tab-title li.esui-this:after {
    background-color: #191a23;
    
}


/* body title */
.theme-my .esui-body-header-title {
    border-left-color: #009688;
}



/* admin dialog */
.theme-my .esui-layer.esui-layer-admin .esui-layer-title {
    color: #ffffff;
    background-color: #191a23;
    
    
}



.theme-my .esui-layer.esui-layer-admin .esui-layer-btn .esui-layer-btn0 {
    border-color: #009688;
    background-color: #009688;
}





/* other */
.theme-my .more-theme-item:hover,
.theme-my .more-theme-item.active {
    border-color: #009688;
}

.theme-my .btn-circle {
    background: #009688;
}

.theme-my .ball-loader > span,
.theme-my .signal-loader > span {
    background-color: #009688;
}

.theme-my .text-primary,
.theme-my .esui-link {
    color: #009688 !important;;
}



/* button */
.theme-my .esui-btn {
    background-color: #009688;
    
}





/* switch */
.theme-my .esui-form-onswitch {
    border-color: #009688;
    background-color: #009688;
}

/* radio */
.theme-my .esui-form-radio > i:hover,
.theme-my .esui-form-radioed > i,
.theme-my .esui-form-checked i,
.theme-my .esui-form-checked:hover i {
    color: #009688;
}

/* checkbox */
.theme-my .esui-form-checked[lay-skin=primary] i,
.theme-my .esui-form-checked span,
.theme-my .esui-form-checked:hover span {
    border-color: #009688 !important;
    background-color: #009688;
}

.theme-my .esui-form-checkbox[lay-skin=primary] i:hover,
.theme-my .esui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #009688;
}

/* select */
.theme-my .esui-form-select dl dd.esui-this {
    background-color: #009688;
}

/* laypage */
.theme-my .esui-laypage .esui-laypage-curr .esui-laypage-em {
    background-color: #009688;
}

.theme-my .esui-laypage input:focus,
.theme-my select:focus {
    border-color: #009688 !important;
}

.theme-my .esui-laypage a:hover {
    color: #009688;
}

/* tab */
.theme-my .esui-tab-brief > .esui-tab-title .esui-this {
    color: #009688;
}

.theme-my .esui-tab-brief > .esui-tab-more li.esui-this:after,
.theme-my .esui-tab-brief > .esui-tab-title .esui-this:after {
    border-color: #009688 !important;
}

.theme-my .esui-tab.esui-tab-vertical > .esui-tab-title > li.esui-this {
    border-color: #009688;
    color: #009688;
}

/* breadcrumb */
.theme-my .esui-breadcrumb a:hover {
    color: #009688 !important;
}

/* laydate */
.theme-my .esui-laydate-footer span:hover,
.theme-my .esui-laydate-header i:hover,
.theme-my .esui-laydate-header span:hover {
    color: #009688;
}

.theme-my .esui-laydate .esui-this {
    background-color: #009688 !important;
}

.theme-my .esui-laydate-content td.laydate-selected {
    background-color: rgba(0,150,136,.1);
}

.theme-my .laydate-selected:hover {
    background-color: rgba(0,150,136,.1) !important;
}

/* timeline */
.theme-my .esui-timeline-axis {
    color: #009688;
}

/* transfer */
.theme-my .esui-transfer-active .esui-btn {
    background-color: #009688 !important;
    border-color: #009688 !important;
}

/* progress-bar */
.theme-my .esui-progress-bar {
    background-color: #009688;
}

/* slider */
.theme-my .esui-slider-bar {
    background-color: #009688 !important;
}

.theme-colorful .esui-slider-wrap-btn {
    border-color: #009688 !important;
}

/* steps */
.theme-my .esui-tab.esui-steps > .esui-tab-title > li > .esui-icon {
    color: #009688;
}

.theme-my .esui-tab.esui-steps > .esui-tab-title > li > .esui-icon.esui-icon-ok,
.theme-my .esui-elem-quote {
    border-color: #009688;
}

.theme-my .esui-tab.esui-steps > .esui-tab-title > li:before,
.theme-my .esui-tab.esui-steps > .esui-tab-title > li.esui-this > .esui-icon.esui-icon-ok {
    background-color: #009688;
}

.theme-my .esui-tab.esui-steps.esui-steps-simple > .esui-tab-title > li {
    background-color: rgba(0,150,136,.5);
}

.theme-my .esui-tab.esui-steps.esui-steps-simple > .esui-tab-title > li.esui-this {
    background-color: #009688;
}

.theme-my .esui-tab.esui-steps.esui-steps-simple > .esui-tab-title > li:after {
    border-left-color: rgba(0,150,136,.5) !important;
}

.theme-my .esui-tab.esui-steps.esui-steps-simple > .esui-tab-title > li.esui-this + li:after {
    border-left-color: #009688 !important;
}

/* xmSelect */
.theme-my xm-select .xm-body .xm-option .xm-option-icon {
    border-color: #009688 !important;
}

.theme-my xm-select .xm-body .xm-option.selected .xm-option-icon,
.theme-my xm-select > .xm-body .xm-toolbar .toolbar-tag:hover,
.theme-my .ew-xmselect-tree xm-select .xm-body .xm-option.selected .xm-option-content {
    color: #009688 !important;
}

.theme-my xm-select .xm-label .xm-label-block,
.theme-my xm-select > .xm-body .xm-option.hide-icon.selected {
    background-color: #009688 !important;
}

/* tagsinput */
.theme-my div.tagsinput span.tag {
    background: #009688;
}

/* cascader */
.theme-my .ew-cascader-dropdown-list-item.active,
.theme-my .ew-cascader-dropdown-list-item.active .ew-icon-right {
    color: #009688;
}

/* city-select */
.theme-my .city-select a.active {
    color: #fff !important;
    background-color: #009688 !important;
}

.theme-my .city-select a:hover,
.theme-my .city-select a:focus {
    background-color: rgba(0,150,136,.07);
    color: #009688;
}

.theme-my .city-picker-span > .title > span:hover {
    background-color: rgba(0,150,136,.07);
}

.theme-my .city-select-tab > a.active {
    color: #009688;
}


/** ---------------------------theme-my主题end----------------------------------- */
